@charset "UTF-8";

a#botao-novo {
  float:right;
  margin-left: 10px;
}

a#botao-valor {
  float:right;
  margin-left: 10px;
  margin-right: 180px;
  font-size: 20px;
}

//funções
i#icone-funcao {
  margin-left: 100px;
}

td#funcoes {
  width: 100px;
  text-align: center;
}
