@charset "UTF-8";

/* Dados Cadastrais */
a#botao_voltar {
  margin-left: 10px;
  margin-right: 10px;
  padding: 7px;
  font-size: 15px;
  color: white;
}

div#dados_cadastrais {
  background-color: #e9ecef;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 2px;
  padding-left: 100px;
}

div#div_observacao {
  margin-left: 15px;
}

div#div_valor {
  margin-right: 15px;
}

/* Botões das telas de lancamentos e transacoes */

div#divisor_mes {
  float: center;
  margin-left: 285px;
  margin-right: 200px;
  margin-bottom: 10px;
  font-size: 20px;
}

th#botao_valor {
  float:right;
  margin-left: 60px;
  margin-right: 70px;
  font-size: 20px;
}

a#botao_valor {
  color: white;
}

div#botao_valor_transacao {
  float: center;
  margin-left: 350px;
  margin-right: 200px;
  font-size: 20px;
  color: white;
}

a#botao_valor_transacao {
  color: white;
}

/*label#data_inicio {
  margin-left: 10px;
}*/

td#funcoes {
  width: 100px;
  text-align: center;
}

form#filtro_transacao {
  margin-left: 150px;
}

a#botao_novo_cabecalho {
  margin: 2px;
}

/* Css dos relatórios */
/*label#data_inicio_relatorio {
  margin-left: 100px;
}*/

table#tabela_dashboard {
  float: center;
}

/* Css da categoria */
a#botao_novo_categoria {
  float: right;
}

a#botao_novo_contas {
  margin-left: 750px;
}

/* Css do cabeçalho */

a#logout {
  float: right;
}

/* Css somente de lancamentos */

a#listar_faturas {
  margin-left: 450px;
}