@charset "UTF-8";


a#botao_voltar {
  margin-left: 10px;
  margin-right: 10px;
  padding: 7px;
  font-size: 15px;
  color: white;
}

div#dados_cadastrais {
  background-color: #e9ecef;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 2px;
  padding-left: 100px;
}

div#div_observacao {
  margin-left: 15px;
}

div#div_valor {
  margin-right: 15px;
}

a#botao-novo {
  float:right;
  margin-left: 10px;
}

a#botao-valor {
  float:right;
  margin-left: 10px;
  margin-right: 180px;
  font-size: 20px;
}

td#funcoes {
  width: 100px;
  text-align: center;
}
